package-lock = false

@c0rejs:registry      = https://npm.pkg.github.com/
@softvisio:registry   = https://npm.pkg.github.com/
@zdm:registry         = https://npm.pkg.github.com/
@zerocluster:registry = https://npm.pkg.github.com/
; @sencha:registry      = https://npm.sencha.com/
